.cards {
  text-align: center;
  border: 2px solid green;
  width: 400px;
  display: flex;
  margin: auto;
}
.card {
  border: 1px solid lightgray;
  color: green;
  text-align: center;
  width: 100px;
  padding: 20px;
  margin-right: 10px;
}
.card:last-child {
  margin-right: 0;
}
